# Garbage
.DS_Store
1_sources/
2_compressed_sources/
3_compressed_previews/

# Editing
.idea/
.vscode/
.obsidian/

# Building & Deploying
.next/
.eslintcache
.env
.env.local
.vercel
.venv
venv/
_pagefind/
next-env.d.ts
__pycache__

# Package management
node_modules/
yarn-error.log
.pnpm-debug.log
yarn.lock
pnpm-lock.yaml
package-lock.json
.pnpm-store
