@import "nextra-theme-docs/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* removal of tab highlighting */
[role="tab"]:focus,
.subheading-anchor:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

/* text alignment in search box */
.nextra-search input[type="search"] {
  padding-top: 0.7rem;
  padding-bottom: 0.4rem;
}

body {
  font-family: var(--font-tofino), "Tofino Variable", system-ui;
  font-stretch: 101%;
  font-weight: 330;
}

/* hack to avoid broken fonts in Firefox */
@-moz-document url-prefix() {
  body {
    font-family: system-ui;
    text-rendering: optimizeLegibility;
    font-stretch: 99%;
    font-weight: 340;
  }
}

/* fix for italic text */
em,
i,
.italic-class {
  font-variation-settings: "ital" 0.1 !important;
  margin-left: -1px;
  margin-right: 1px;
}

/* title colors */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-stretch: 102%;
  color: #e3504f !important;
}
